<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <!-- Bootstrap CSS -->
    <style>
        .blog-image {
            width: 100%;
            height: auto; /* Ensures the aspect ratio is maintained */
        }
        .blog-title {
            margin-top: 20px;
        }
        .blog-body {
            margin-top: 20px;
        }
    </style>
    <%- include("./partials/head") %>
</head>
<body>
    <%- include("./partials/nav") %>
    
    <div class="container mt-5">
       
        <div class="row">
            <!-- Blog Title -->
            <div class="col-12">
                <h1 class="blog-title text-center"><%= blog.title %></h1>
            </div>
        </div>

        <div class="row">
            <!-- Blog Image -->
            <div class="col-12">

                <!-- Replace with a placeholder image for testing -->
                <img src="/public/<%= userP.profileImageURL %>" alt="<%= userP.fullName %>" class="img-fluid" style="width: 180px; border-radius: 10px;">

            </div>
        </div>
        
        <div class="row">
            <!-- Blog Body -->
            <div class="col-12">
                <div class="blog-body">
                    <%= blog.body %>
                </div>
            </div>
        </div>
    </div>

   
    <%- include("./partials/script") %>
</body>
</html>
